extends layout

block content
  div.mowingpage
    include header
    .content-container
      .mowing-text-container 
        span Our weekly mowing service includes 26 weeks of mowing with an optional mid-November cut. Our mowing service includes Cutting, trimming, Blowing, and Biweekly Edging. We also offer a weekly or biweekly landscape maintenance program. This program will take care of any needs your landscape needs over the course of the year. Our landscape maintenance program includes a spring cleanup a fresh coat of mulch, biweekly weeding and trimming as needed and a fall cleanup.
      .mowing-image-container
        img(src="../images/image6.jpg" width="350px")
    include service-link