.services-table-container
    table
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/mowing') Lawn Mowing
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/mulch') Mulch Installation
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/springcleanup') Spring Cleanup
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/landscaping') Landscaping
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/aeration') Aeration
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/schoolmaintenance') School Maintenance Services
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/overseeding') Over-seeding
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/yardwaste') Yard waste and trash hauling
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/shrubtrimming') Shrub trimming
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/fallcleanup') Fall Cleanup
        tr
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/edging') Edging
            td
                ul 
                    li
                        span.home-link
                            a(href='/services/weeding') Weeding
