extends layout

block content
  div.springcleanuppage
    include header
    .content-container
      .springcleanup-text-container 
        span Our spring cleanup service includes the first Mowing of your lawn and the removal of leaves from the lawn and garden beds. We will also cleanup and sticks or debris on your lawn and garden beds. We also include the first edging of the properties sidewalks and driveway.
      .springcleanup-image-container
    include service-link